# Telegram Configuration
TELEGRAM_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Sakai Configuration
SAKAI_URL=https://online.deu.edu.tr/portal
SAKAI_DUYURU_URL=https://online.deu.edu.tr/portal/site/8661eecd-4a01-4a2a-a0ae-7722b165e914/tool/1f87c11b-7dbd-4619-b91d-a2f9c37e1e7c?panel=Main
SAKAI_USERNAME=your_username
SAKAI_PASSWORD=your_password

# Browser
HEADLESS=1
